<!-- Navigation Bar -->
<!-- Creates a Bootstrap Navigation Bar -->
<!-- Set to cover the entire length of the screen and use the dark theme -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Sets up the general branding -->
  <a class="navbar-brand" href="#" height="" width="">
    <!-- <img id="logo" src="images/logo_58x80.png" alt="Logo"></img> --> Madras Rugby Club
  </a>

  <!-- Creates the navigation bar's toggler used on smaller screens -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- Creates the main links -->
    <ul class="navbar-nav mr-auto">
      <!-- Creates an naviagation item -->
      <li class="nav-item">
        <!-- Creates an active link -->
        {% if page.title == "index" %}
        <a class="nav-link active" href="index.html">Home</a>
        <!-- Creates a standard link -->
        {% else %}
        <a class="nav-link" href="index.html">Home</a>
        {% endif %}
      </li>

      <!-- Creates an naviagation item -->
      <li class="nav-item">
        <!-- Creates an active link -->
        {% if page.title == "gallery" %}
        <a class="nav-link active" href="gallery.html">Gallery</a>
        <!-- Creates a standard link -->
        {% else %}
        <a class="nav-link" href="gallery.html">Gallery</a>
        {% endif %}
      </li>

      <!-- Creates an naviagation item -->
      <li class="nav-item">
        <!-- Creates an active link -->
        {% if page.title == "placeholder" %}
        <a class="nav-link active" href="#">Placeholder</a>
        <!-- Creates a standard link -->
        {% else %}
        <a class="nav-link" href="#">Placeholder</a>
        {% endif %}
      </li>

      <!-- Creates an naviagation item -->
      <li class="nav-item">
        <!-- Creates an active link -->
        {% if page.title == "placeholder" %}
        <a class="nav-link active" href="#">Placeholder</a>
        <!-- Creates a standard link -->
        {% else %}
        <a class="nav-link" href="#">Placeholder</a>
        {% endif %}
      </li>



    </ul>
  </div>
</nav>